body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
h2 {
    font-size: 40px;
    color: #5f5f5f;
}
.flexible-container{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width: 50%;
}
.half-width img {
    width: 85%;
    padding-left: 4%;
}
.header-title{
    padding-left: 10%;
    padding-top: 12%;
}
.half-width h1 {
    font-size: 60px;
    font-weight: 700;
    color: #5f5f5f;
}
.title-color{
    color: orange;
}
.half-width p {
    color: #5f5f5f;
    line-height: 1.8em;
    margin-bottom: 55px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#ffa967,#FE4F30);
    color: white;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 30px;
}
.half-width .person-image {
    width: 45%;
    display: block;
    margin: 0 auto;
    padding-top: 7%;
}
.shapes {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.half-width .about {
    width: 400px;
    color: black;
    margin-bottom:130px;
}
.about-text {
    padding-top: 5%;
    padding-left: 5%;
}
.our-resipie-title{
    text-align: center;
    margin-bottom: 5%;
}
.flexible-container-resipie{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}
.items  {
    width:29.3%;
    margin-left: 2%;
    margin-right: 2%;
    box-shadow: 5px 5px 60px #ddd;
    padding: 1%;
    border-radius: 15px;
}
.items img{
    width: 100%;
}
.items h3 {
    font-size: 25px;
    font-weight: 800;
}
.flexible-container-populer{
    display: flex;
    width: 80%;
    margin: 0 auto;
    box-shadow: 5px 5px 60px #ddd;
    margin-bottom: 100px;
    border-radius: 15px;
}
.populer{
    margin-left: 15%;
}
.populer h2 {
    color: black;
    line-height: 12px;
    text-align: center;
}